VITE_STUDENTS_API_URL=https://script.google.com/macros/s/PASTE_YOUR_DEPLOYMENT_ID/exec
ADMIN_MASTER_PASSWORD=change_me
GOOGLE_CONFIG_API_URL=https://script.google.com/macros/s/xxxxx/exec
GOOGLE_CONFIG_API_SECRET=change_me_long_random_secret
